footer{
    background: linear-gradient(to right,#095c8a, #105e88, #0E4B6B);
    margin:0px;
    height: 200px;
    color: $color-white;
    .icons {
        display:flex;
        justify-content: center;
        .icon-link{
            margin: 60px;
            }
        }
    }
