
header{
    background-color: $color-blue;
}
nav {
    justify-content: center;
    align-items: center;
    height:auto;
    .nav__menu{
          list-style-type: none;
          display: flex;
          padding: 2px;
          .nav__li{
              display: flex;
              font-size: 1.1rem;
              padding: 10px 20px;
              &:hover{
                 background-color: $color_light;
                 font-size: 1rem ;
                 border-radius: 50%;
                              }
              a{                    
              color:$color-white;
              font-size: 1rem;
              font-weight:200;
              text-decoration: none;
                  &:hover{
                      color:$color-white;
                      font-size: 0.9rem;
                  }
              }

          }
      }
  }
 

