.services {
    font-family: $font-family_2;
    font-size: 3rem;
    text-align: center;
    padding: 30px;
}
.servicesheading{
    font-weight: bolder;
    text-align: center;
    padding: 1.2rem;
}
.serv_text{
    width: 90%;
    text-align: center;
    margin:auto;

}
.prepcourse {
    background-color:#33a2b163;
    padding: 20px;
    line-height: 1.5;
    margin:30px 30px;
    text-align: justify;
}
.writingcorrection {
    background-color:#58a6b163;
    padding: 20px;
    line-height: 1.5;
    margin:30px 30px;
    text-align: justify;
}
.speakingsession {
    background-color: #7fb8c063;
    padding: 20px;
    line-height: 1.5;
    margin:30px 30px;
    text-align: justify;
}
