
.about {
    font-family: $font-family_2;
    font-size: 3rem;
    text-align: center;
    padding: 30px; 
}
.about_exam{
  text-align: center;
  padding: 5px 60px;
}
.skillheading {
  font-weight: bolder;
  text-align: center;
  padding: 1.2rem;
}
.section1 {
  background-color: #33a2b163;
  padding: 20px;
  line-height: 1.5;
  margin: 30px; 
  text-align: justify;
}
.section2 {
  background-color: #58a6b163;
  padding: 20px;
  line-height: 1.5;
  margin: 30px;
  text-align: justify;
}
.section3 {
  background-color: #7fb8c063;
  padding: 20px;
  line-height: 1.5;
  margin: 30px; 
  text-align: justify;
}
.section4 {
  background-color: #b4c6c963;
  padding: 20px;
  line-height: 1.5;
  margin: 30px;
  text-align: justify;
}

