.contactme{
    font-family: $font-family_2;
    font-size: 3rem;
    margin-left: 80px;
    padding: 30px;
}
.main_form {
    justify-content: center;
    padding-bottom: 80px;
    margin-left: 90px;
}
form{
    border-radius: 5%;

}